{% extends "base.html" %}

{% block pagescripts %}
	{% if script is not none %}
		{{ script | safe }}
	{% endif %}
{% endblock %}

{% block title %}Compare{% endblock %}

{% block body %}

<div class="super_container">
    
    <!-- Home -->

    <div class="home">
        <div class="home_background parallax-window" data-parallax="scroll" data-image-src="../static/images/about.jpg" data-speed="0.8"></div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_content">
                        <div class="home_content_inner">
                            <div class="home_title">Compare</div>
                            <div class="home_breadcrumbs">
                                <ul>
                                    <li><a href="{% url 'my_portfolio' %}">Home</a></li>
                                    <li>Compare</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Header -->

        <header class="header">

            <!-- Top Bar -->
            <div class="top_bar">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="top_bar_container d-flex flex-row align-items-center justify-content-start">
                                <div class="logo_container">
                                    <div class="logo">
                                        <a href="{% url 'my_portfolio' %}">
                                            <div class="logo_line_1"><span>in</span>vest</div>
                                            <div class="logo_line_2">Financial</div>
                                            <div class="logo_img"><img src="../static/images/logo.png" alt=""></div>
                                        </a>
                                    </div>
                                </div>
                                <div class="top_bar_content ml-auto">
                                    <div class="main_menu_social">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-reddit-alien" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="burger">
                                    <i class="fa fa-bars" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>      
            </div>

            <!-- Main Menu -->
            <div class="main_menu">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="main_menu_container d-flex flex-row align-items-center justify-content-start">
                                <div class="main_menu_content">
                                    <ul class="main_menu_list">
                                        <li><a href="{% url 'my_portfolio' %}">home
                                            <svg version="1.1" id="Layer_4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 width="9px" height="5px" viewBox="0 0 9 5" enable-background="new 0 0 9 5" xml:space="preserve">
                                                <g>
                                                    <polyline class="arrow_d" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" points="0.022,-0.178 4.5,4.331 9.091,-0.275   "/>
                                                </g>
                                            </svg>
                                        </a></li>
                                        <li><a href="{% url 'compare' %}">compare
                                            <svg version="1.1" id="Layer_4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 width="9px" height="5px" viewBox="0 0 9 5" enable-background="new 0 0 9 5" xml:space="preserve">
                                                <g>
                                                    <polyline class="arrow_d" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" points="0.022,-0.178 4.5,4.331 9.091,-0.275   "/>
                                                </g>
                                            </svg>
                                        </a></li>
                                        <li><a href="{% url 'portfolios' %}">my portfolios
                                            <svg version="1.1" id="Layer_15" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 width="9px" height="5px" viewBox="0 0 9 5" enable-background="new 0 0 9 5" xml:space="preserve">
                                                <g>
                                                    <polyline class="arrow_d" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" points="0.022,-0.178 4.5,4.331 9.091,-0.275   "/>
                                                </g>
                                            </svg>
                                        </a></li>
                                    </ul>
                                </div>
                                <div class="main_menu_contact ml-auto" style="margin-right: 20px;">
                                    <div class="main_menu_search">
                                        <div class="main_menu_search_button">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 512 512" enable-background="new 0 0 512 512" width="15px" height="15px">
                                                <g>
                                                <path class="mag_path" d="M495,466.2L377.2,348.4c29.2-35.6,46.8-81.2,46.8-130.9C424,103.5,331.5,11,217.5,11C103.4,11,11,103.5,11,217.5   S103.4,424,217.5,424c49.7,0,95.2-17.5,130.8-46.7L466.1,495c8,8,20.9,8,28.9,0C503,487.1,503,474.1,495,466.2z M217.5,382.9   C126.2,382.9,52,308.7,52,217.5S126.2,52,217.5,52C308.7,52,383,126.3,383,217.5S308.7,382.9,217.5,382.9z" fill="#f4f4f8"/>
                                                </g>
                                            </svg>
                                        </div>
                                        <div class="main_menu_search_content">
                                            <form action="#">
                                                <input class="search_input" type="search" placeholder="Keyword" required="required">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="link_button link_button_4 elements_button"><a href="{% url 'home' %}">logout</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Menu -->

            <div class="menu">
                <div class="menu_register_login">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="menu_register_login_content d-flex flex-row align-items-center justify-content-end">
                                    <div class="register"><a href="#">sign up</a></div>
                                    <div class="login"><a href="{% url 'login' %}">login</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                        
                </div>
                <ul class="menu_list">
                    <li class="menu_item">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <a href="#">home</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="menu_item">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <a href="about.html">about us</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="menu_item">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <a href="listings.html">services</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="menu_item">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <a href="news.html">portfolio</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="menu_item">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <a href="contact.html">blog</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="menu_item">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <a href="contact.html">contact</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
    </div>
    
    <!-- List of Saved Portfolios -->

    <div class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 features_col">
                    <div class="features_content">
                        <div class="section_title_container">
                            <div class="section_subtitle">take a look at your</div>
                            <div class="section_title">Saved Portfolios</div>
                            <div class="section_text">
                                <div class="panel-group">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <form method="POST" action="#">



            <!-- need to add jQuery for onchange... -->

                                                <div class="checkbox">
                                                    <label><input type="checkbox" name="test" id="test" checked> test </label>
                                                </div>




                                                {% for portfolio in all_portfolios %}
                                                <div class="checkbox">
                                                    <label><input type="checkbox" name="{{ portfolio.p_name }}" id="{{ portfolio.p_name }}" checked> {{ portfolio.p_name }}</label>
                                                </div>
                                                {% endfor %}
                                            </form>            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="features_images clearfix">
                        <div class="features_image_1"><img src="../static/images/about_features_1.jpg" alt=""></div>
                        <div class="features_image_2"><img src="../static/images/about_features_2.jpg" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Graphical summary -->

    <div class="info">
        <div class="info_background parallax-window" data-parallax="scroll" data-image-src="../static/images/about_info.jpg" data-speed="0.8"></div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section_title_container">
                        <div class="section_subtitle">comparison of chosen portfolios</div>
                        <div class="section_title">Sharpe Ratios</div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 25px;">
                <div class="col">
                    <div class="text-center">
                        {% if div is not none %}
                            {{ div | safe }}
                        {% endif %}
                    </div>
                </div>
                

            </div>
        </div>
    </div>

    <div class="test_faq">
        <div class="container">
            <div class="row">
                <div class="col test_faq_col">
                    
                    <!-- FAQ -->

                    <div class="faq">
                        <div class="section_title_container">
                            <div class="section_subtitle">take a look at our</div>
                            <div class="section_title">Selected Portfolios</div>
                        </div>
                        
                        <!-- Accordions -->
                        
                        <div class="elements_accordions">

                            <div class="accordion_container">
                                <div class="accordion d-flex flex-row align-items-center active"><div> Portfolio 1 </div></div>
                                <!-- This will change to {{ portfolio.name }} -->
                                <div class="accordion_panel">
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <!-- Portfolio allocation chart -->

                                                {{ div1 | safe }}
                
                                        </div>
                                        <div class="col-lg-5">
                                            <!-- this here will be a table of stock names and weights -->
                                            <table class="table">
                                                <thead class="thead-inverse">
                                                  <tr>
                                                    <th style="width: 80%;">Stock</th>
                                                    <th style="width: 20%;">Weight</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <!-- {% for portfolio in port_stock %}
                                                    <tr>
                                                      <td>
                                                        <a href="{% url 'board_topics' board.pk %}">{{ board.name }}</a>
                                                        <small class="text-muted d-block">{{ board.description }}</small>
                                                      </td>
                                                      <td class="align-middle">0</td>
                                                      <td class="align-middle">0</td>
                                                      <td></td>
                                                    </tr>
                                                  {% endfor %} -->
                                                </tbody>
                                              </table>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="row milestones_container2">
                                                <div class="col milestone_col">
                                                    <div class="milestone">
                                                        <div class="milestone_counter" style="color: black;" data-end-value="134" data-sign-after="%">0</div>
                                                        <div class="milestone_content2">
                                                            <div class="milestone_title" style="color: black;">sharpe ratio</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% if each in portfolios %}

                            <div class="elements_accordions">
                                <div class="accordion_container">
                                    <div class="accordion d-flex flex-row align-items-center active"><div> {{each.p_name}} </div></div>
                                    <!-- This will change to {{ portfolio.name }} -->
                                    <div class="accordion_panel">
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <!-- Portfolio allocation chart -->
    
                                                    {{ div1 | safe }}
                    
                                            </div>
                                            <div class="col-lg-5">
                                                <!-- this here will be a table of stock names and weights -->
                                                <table class="table">
                                                    <thead class="thead-inverse">
                                                      <tr>
                                                        <th style="width: 80%;">Stock</th>
                                                        <th style="width: 20%;">Weight</th>
                                                      </tr>
                                                    </thead>
                                                    <tbody>
                                                      <!-- {% for portfolio in port_stock %}
                                                        <tr>
                                                          <td>
                                                            <a href="{% url 'board_topics' board.pk %}">{{ board.name }}</a>
                                                            <small class="text-muted d-block">{{ board.description }}</small>
                                                          </td>
                                                          <td class="align-middle">0</td>
                                                          <td class="align-middle">0</td>
                                                          <td></td>
                                                        </tr>
                                                      {% endfor %} -->
                                                    </tbody>
                                                  </table>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="row milestones_container2">
                                                    <div class="col milestone_col">
                                                        <div class="milestone">
                                                            <div class="milestone_counter" style="color: black;" data-end-value="134" data-sign-after="%">0</div>
                                                            <div class="milestone_content2">
                                                                <div class="milestone_title" style="color: black;">sharpe ratio</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
    

                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
